<a href="https://colab.research.google.com/github/VANSHG2005/Python/blob/main/25_06_25(Day2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,2,3,4.3,'hello',True]
type(a)

list

In [ ]:
print(a[4])

hello

In [ ]:
print(a[4][0])

h

In [ ]:
print(a[2:5])

[3, 4.3, 'hello']

In [ ]:
a = [1,2,3,4,5]
b = [3,4,5,6]
a.append(b)
print(a)

[1, 2, 3, 4, 5, [3, 4, 5, 6]]

In [ ]:
a = [1,2,3,4,5]
b = [3,4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 3, 4, 5, 6]

In [ ]:
l =[1,2,3,4,5,1,2]
l.remove(1)

In [ ]:
print(l)

[2, 3, 4, 5, 1, 2]

In [ ]:
a = {1,2,3,4,5}
print(a[0])

TypeError: 'set' object is not subscriptable

In [ ]:
a= {1,2,3,'rahul','Rahul'}
print(a)

{1, 2, 3, 'Rahul', 'rahul'}

In [ ]:
#WAP to write the number is even or odd
n = int(input("Enter the number: "))
if(n%2 ==0):
  print("Even")
else:
  print("Odd")

Enter the number: 12
Even

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
b = []
for i in a:
  b.append(i*i)

print(dict(zip(a,b)))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
b = []
for i in a:
  b.append(i*i)

In [ ]:
n = int(input("Enter the number: "))
a= 0
b=1
if(n==1):
  print(a)
else:
  print(a)
  print(b)
for i in range (3,n+1):
  c = a+b
  a = b
  b = c
  print(c)

Enter the number: 5
0
1
1
2
3

In [ ]:
k =[]
for i in range(1,101):

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
for i in l:
  if(i%2 == 0):
    print(i*i)

4
16
36
64

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
for i in l:
  if(i%2 == 0):
    print(i**2)
  else:
    print(i**3)

1
4
27
16
125
36
343
64
729

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in a:
  sum = sum + (i**2)
print(sum)

285

In [ ]:
a = "I am the one who knocks!"
b = a.split()
for i in b:
  print(i[0])

I
a
t
o
w
k

In [ ]:
days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
for i in days:
  print(i[:-3])

Mon
Tues
Wednes
Thurs
Fri
Satur
Sun

In [ ]:
a = 10
while a<15:
  print(a)
  a = a+1
else:
  print("Done")

10
11
12
13
14
Done