<a href="https://colab.research.google.com/github/VANSHG2005/Python/blob/main/26_6_25_(Day3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
helk = [i**2 for i in range(0,11) if i%2 == 0]
print(k)

[0, 4, 16, 36, 64, 100]

In [ ]:
k = [i**2 if i%2 == 0 else i**3 for i in range(0,11) ]
print(k)

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [ ]:
heisenberg_quote = "It cease to exist without me"
sq = heisenberg_quote.split()
uw = { i[0] for i in sq }
print(uw)

{'t', 'm', 'I', 'c', 'w', 'e'}

In [ ]:
fact=1
num=int(input("Enter a number: "))
for i in range(1,num+1):
    fact*=i
print(fact)

Enter a number: 8
40320

In [ ]:
def quarter(date):
  month = date.split("-")
  if int(month[1]) in [1,2,3]:
    return "Q1"
  elif int(month[1]) in [4,5,6]:
    return "Q2"
  elif int(month[1]) in [7,8,9]:
    return "Q3"
  elif int(month[1]) in [10,11,12]:
    return "Q4"
  else:
    return "Invalid Date"

date = input("Enter a date: ")
print(quarter(date))

Enter a date: 2020-07-01
['2020', '07', '01']
Q3

In [ ]:
a = [1,2,3,4,5,6]
value = 100
index = 3
a = a[:index+1] +[value] +a[index+1:]

print(a)

[1, 2, 3, 4, 100, 5, 6]

In [ ]:
a = "michael000smith004331000000"
b = a.replace("0"," ")
print(b)
e = b.split()
print(e)
c = ["First Name","Last Name","ID"]
d = dict(zip(c,e))
print(d)

michael   smith  4331
['michael', 'smith', '4331']
{'First Name': 'michael', 'Last Name': 'smith', 'ID': '4331'}

In [ ]:
a = "michael000smith004331"
#b = a.replace("0"," ")
#print(b)
e = a.split("0")
print(e)
c = ["First Name","Last Name","ID"]
d = {}
d[c[0]] = e[0]
d[c[2]] = e[-1]
e[0] = ""
e[-1] = ""
d[c[1]] = "".join(e)
print(d)

['michael', '', '', 'smith', '', '4331']
{'First Name': 'michael', 'ID': '4331', 'Last Name': 'smith'}

In [ ]:
a = 'gfrregewrf'
b = 'fsasagrg'
d = []
a = list(sorted(a))
b = list(sorted(b))

for i in a:
  for j in b:
    if i==j:
      d.append(i)
    else:
      continue
d = list(set(d))
print(d)
for i in a:
  if i not in d:
    a.remove(i)
print(a)
for j in b:
  if j not in d:
    b.remove(j)
print(b)

['g', 'f', 'r']
['e', 'f', 'f', 'g', 'g', 'r', 'r', 'r']
['a', 'f', 'g', 'g', 'r', 's']

In [ ]:
a = 'gfrregewrf'
b = 'fsasagrg'

a = ''.join(sorted(a))
b = ''.join(sorted(b))

print(a)
print(b)

def count(s):
  count = {}
  for i in s:
    if i in count:
      count[i] +=1
    else:
      count[i] = 1
  return count

count_a = count(a)
count_b = count(b)
print(count_a)
print(count_b)

common_counts = {}
for i in count_a:
    if i in count_b:
        common_counts[i] = min(count_a[i], count_b[i])
print(common_counts)

a_2 = ''
b_2 = ''
for i in common_counts:
  a_2 += i*common_counts[i]
  b_2 += i*common_counts[i]

print(a_2)
print(b_2)

removed_from_a = {}
removed_from_b = {}

for char in count_a:
    removed_from_a[char] = count_a[char] - common_counts.get(char, 0)

for char in count_b:
    removed_from_b[char] = count_b[char] - common_counts.get(char, 0)

# Remove chars with zero count
removed_from_a = {k: v for k, v in removed_from_a.items() if v > 0}
removed_from_b = {k: v for k, v in removed_from_b.items() if v > 0}

print("Removed from a:", removed_from_a)
print("Removed from b:", removed_from_b)

eeffggrrrw
aafggrss
{'e': 2, 'f': 2, 'g': 2, 'r': 3, 'w': 1}
{'a': 2, 'f': 1, 'g': 2, 'r': 1, 's': 2}
{'f': 1, 'g': 2, 'r': 1}
fggr
fggr
Removed from a: {'e': 2, 'f': 1, 'g': 0, 'r': 2, 'w': 1}
Removed from b: {'a': 2, 'f': 0, 'g': 0, 'r': 0, 's': 2}