<a href="https://colab.research.google.com/github/VANSHG2005/Python/blob/main/Assignment9_Functions_and_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u> Problem 1</u>

### Write a function which takes the excel column name as an input and returns the corresponding column number. A few examples are :

* column name = <code>'J'</code> , column number = <code>10</code>
* column name = <code>'AP'</code> , column number = <code>42</code>
* column name = <code>'AAA'</code>, column number = <code>703</code>

In [ ]:
def get_excel_column_number(column_name):
  '''
  This functions returns the corresponding column number for an excel column name
  '''
  column_name = column_name.upper()
  result = 0
  for char in column_name:
      value = ord(char) - ord('A') + 1
      result = result * 26 + value
  return result

In [ ]:
# Check
get_excel_column_number('J')

10

In [ ]:
# Check
get_excel_column_number('AP')

42

In [ ]:
# Check
get_excel_column_number('AAA')

703

# <u> Problem 2 </u>

### Write a Python function which takes a sentence and a length value as inputs and returns the counts of those words from the sentence whose length is equal to the provided input length value.

### Suppose if the input for the length value is 5, it will return the count of all those words which are of length 5

In [ ]:
marvel_quote = "The world has changed and none of us can go back. All we can do is our best, and sometimes the best that we can do is to start over."

In [ ]:
# Your function below. Make sure to remove the special characters such as full stop and comma.
def fixed_length_word_counts(sentence, length=5):
  sentence = sentence.replace(',','').replace('.','')
  b = sentence.split()
  for i in b:
    if(len(i) == 5):
      print(i)

In [ ]:
# Check on the sample sentence
fixed_length_word_counts(marvel_quote, length=5)

world
start