<a href="https://colab.research.google.com/github/VANSHG2005/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function <code>len()</code> to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

Functions will be one of the most basic levels of **reusing code in Python**.

## <code>def</code> Statements

Let's see how to build out a function's syntax in Python. It has the following form:

In [ ]:
def example_function(arg1, arg2):
  '''
  This is where the function's Document String (docstring) goes
  '''
  # Do stuff here
  return desired_result

In [ ]:
n = 10
a = list(range(1,n+1))
print(a)
fec = 1
for i in range(1,n+1):
  fec = fec*i
print(fec)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3628800

In [ ]:
def fe(n):
  a = list(range(1,n+1))
  print(a)
  fec = 1
  for i in range(1,n+1):
    fec = fec*i
  return(fec)

In [ ]:
fe(100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
def fact(x):
  factx=1
  for i in range(1,x+1):
    factx=factx*i
  return factx
fact(3)

##<u> Example 3</u>: Let us write a function which takes a date as a string and prints the quarter as output.

### Remember it is not required that functions will return a value. This is an example of such functions

In [ ]:

def fn(string):
  month = string[5:7]
  if int(month) in range(1,4):
    print("First quarter")
  elif int(month) in range(4,7):
    print("Second quarter")
  elif int(month) in range(7,10):
    print("Third quarter")
  else:
    print("Fourth quarter")
fn("2020-07-01")

Third quarter

In [ ]:
def quarter(date):
  month = date.split("-")
  if int(month[1]) in [1,2,3]:
    return "Q1"
  elif int(month[1]) in [4,5,6]:
    return "Q2"
  elif int(month[1]) in [7,8,9]:
    return "Q3"
  elif int(month[1]) in [10,11,12]:
    return "Q4"
  else:
    return "Invalid Date"

date = input("Enter a date: ")
print(quarter(date))

In [ ]:
a=[1,2,3,4,5]
value=100
index=3

a = a[:index] + [value] + a[index:]
print(a)

[1, 2, 3, 100, 4, 5]